---
layout: page
title: "About"
description: "I am me."
header-img: "img/home-bg.jpg"
---
<hr>

{% for member in site.data.members %} {% if member.visible == true %}

	<img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width:150px !important">
	
	<h1>{{ member.name }}</h1>
	
	<h2>{{ member.role }}</h2>
	

	{% if member.bio %} 
	{{ member.bio }}
	{% endif %}
	
	<hr>
	<br>
	{% if member.github %} 
	<span class="social-share-googleplus"><a href="https://github.com/{{ member.github }}" title="Github"><img src="{{ "/img/icons/github-icon.png" | prepend: site.baseurl }}" style="height:20px">Github </a></span> 
	{% endif %}
	{% if member.twitter %}
	<span class="social-share-googleplus"><a href="https://twitter.com/{{ member.twitter }}" title="Google Plus"><img src="{{ "/img/icons/twitter-icon.png" | prepend: site.baseurl }}" style="height:20px">Twitter </a></span>
	{% endif %}
	
	</br>

{% endif %}{% endfor %}

