---
layout: page
title: "About"
description: "I am me."
header-img: "img/home-bg.jpg"
---
<hr>

{% for member in site.data.members %} {% if member.visible == true %}

    <div class="span2">
      <img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width:250px !important">
    </div>
    <div class="span10 offset2">
      <h1>{{ member.name }}</h1>
		
		<b>{{ member.role }}</b>
		<br>
		<br>
		<img src="{{ member.img2 }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:right; width:150px !important">
		{% if member.bio %} 
		{{ member.bio }}
		{% endif %}
    </div>

{% endif %}{% endfor %}

