---
layout: professional
title: "James D. Richards"
description: ""
header-img: "img/home-bg.jpg"
---
<hr>

{% for member in site.data.members %} {% if member.visible == true %}

    <div class="col-md-2">
      <img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width:250px !important">
    </div>
    <div class="col-md-6 col-md-offset-1">
		<h3>{{ member.proSubTitle1 }}</h3>
		<br>
		{{member.proBio}}
		<br>
		<h3>{{ member.proSubTitle2 }}</h3>
		<br>
		{{member.proSkills}}
		<br>
		<h3>{{ member.proSubTitle3 }}</h3>
		<br>
		<br>
    </div>

{% endif %}{% endfor %}
